<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to nginx!</h1>
<p>If you see this page, the nginx web server is successfully installed and
working. Further configuration is required.</p>

<p>For online documentation and support please refer to
<a href="http://nginx.org/">nginx.org</a>.<br/>
Commercial support is available at
<a href="http://nginx.com/">nginx.com</a>.</p>

<p><em>Thank you for using nginx.</em></p>
<p>
VM Description: 
<ul>
<li>Hostname: {{ ansible_hostname }}</li>
<li>IP: {{ ansible_default_ipv4['address'] }}</li>
<li>OS: {{ ansible_distribution }} {{ ansible_distribution_version }}</li>
</ul>
</p>
</body>
</html>
